<div class="container-fluid">
  <div class="row align-items-center mb-4">
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-link arrow-button"
        (click)="emitToggleEvent()"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
    </div>
    <div class="col">
      <h2>{{ bucket.name }}</h2>
    </div>
  </div>

  <!-- nav tabs-->
  <div class="container" id="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="{ active: activeTab === 'files' }"
          (click)="toggleTab('files')"
          class="nav-link active"
          id="files-tab"
          data-bs-toggle="tab"
          type="button"
          role="tab"
        >
          Files
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="{ active: activeTab === 'details' }"
          (click)="toggleTab('details')"
          class="nav-link"
          id="details-tab"
          data-bs-toggle="tab"
          type="button"
          role="tab"
        >
          Details
        </button>
      </li>
    </ul>

    <div *ngIf="activeTab === 'files'">
      <app-file-list
        [files]="bucket.files"
        [bucket]="bucket.id"
      ></app-file-list>
    </div>

    <div *ngIf="activeTab === 'details'">
      <app-details
        [bucket]="bucket"
        (deleteEvent)="emitDeleteEvent($event)"
      ></app-details>
    </div>
  </div>
</div>
