<div class="container-fluid">
  <h1>{{ bucket.name }}</h1>
  <button type="button" class="btn btn-link" (click)="emitToggleEvent()">
    <i class="bi bi-arrow-bar-left"></i>
  </button>

  <!-- nav tabs-->
  <div class="container" id="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="{ active: activeTab === 'files' }"
          data-toggle="tab"
          (click)="toggleTab('files')"
          class="nav-link active"
          id="files-tab"
          data-bs-toggle="tab"
          type="button"
          role="tab"
        >
          Files
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="{ active: activeTab === 'details' }"
          data-toggle="tab"
          (click)="toggleTab('details')"
          class="nav-link"
          id="details-tab"
          data-bs-toggle="tab"
          type="button"
          role="tab"
        >
          Details
        </button>
      </li>
    </ul>

    <div *ngIf="activeTab === 'files'">
      <app-file-list
        [files]="bucket.files"
        [bucket]="bucket.id"
      ></app-file-list>
    </div>

    <div *ngIf="activeTab === 'details'">
      <app-details [bucket]="bucket"></app-details>
    </div>
  </div>
</div>
