<div class="container">
  <div>
    <p>All files ({{ files ? files.length : 0 }})</p>
    <button
      type="button"
      class="btn btn-danger"
      (click)="openModal()"
      data-bs-toggle="modal"
      data-bs-target="#deleteObjectModal"
    >
      Delete Object
    </button>
    <input
      id="fileInput"
      type="file"
      style="display: none"
      (change)="onFileSelected($event)"
    />
    <input
      type="button"
      value="Upload Object"
      onclick="document.getElementById('fileInput').click();"
    />
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="files-tab"></div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Modified</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let file of files; let i = index"
        [class.table-active]="selectedFileIndex === i"
        (click)="selectFile(i)"
      >
        <td>{{ file.fileName }}</td>
        <td>{{ file.lastModified | date }}</td>
        <td>{{ file.size }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- file deletion modal -->
<div
  class="modal fade"
  id="deleteObjectModal"
  tabindex="-1"
  aria-labelledby="deleteObjectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">Do you really want to delete this object?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="[deleteObject(selectedFileIndex), closeModal()]"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
