<nav class="navbar bg-body-secondary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Secure cloud storage</span>
  </div>
</nav>

<!-- Bucket list -->
<div class="container-fluid" *ngIf="!selectedBucket">
  <h1>Bucket list</h1>
  <div>
    <p>All buckets ({{ buckets.length }})</p>
    <button *ngIf="createNewShown" (click)="toggleCreateExpanded()">
      Create New Bucket
    </button>
    <div *ngIf="createExpanded">
      <p>Bucket Name*</p>
      <input
        type="text"
        placeholder="Enter bucket name"
        [(ngModel)]="newBucketName"
      />
      <p>Bucket Location*</p>
      <select [(ngModel)]="selectedLocation">
        <option value="Kranj">Kranj</option>
        <option value="Ljubljana">Ljubljana</option>
        <option value="Maribor">Maribor</option>
        <option value="Other">Other</option>
      </select>
      <button (click)="[createBucket()]">Create Bucket</button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bucket of buckets" class="bucket-row">
        <td (click)="toggleSelectedBucket(bucket)">{{ bucket.name }}</td>
        <td>{{ bucket.location }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Bucket details list -->
<div *ngIf="selectedBucket">
  <app-bucket-details
    [bucket]="bucketDetailed"
    (deleteEvent)="deleteBucket($event)"
    (toggleEvent)="toggleMain()"
  ></app-bucket-details>
</div>
