<nav class="navbar bg-body-secondary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Secure cloud storage</span>
  </div>
</nav>

<h1>Bucket list</h1>
<div class="container-fluid">
  <div>
    <p>All buckets (2)</p>
    <button>Create New Bucket</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>abc</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>abc</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>abc</td>
      </tr>
    </tbody>
  </table>
</div>
